body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGlnaHQlMjB0aGVtZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    padding-left: 45%;
    padding-top: 0%;
    color: #000000bf;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery img {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 34px;
    cursor: pointer;
    color: white;
}

h1{
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(12, 12, 12);
}

hr{
    margin: 0%;
    padding: 0%;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1000px) {
            .gallery {
                    grid-template-columns: repeat(2, 1fr);
                    width: 80%;
            }
            .gallery img {
                    margin-left: 10%;
            }  
            .popup-image {
                    height: 50%;
            }  
}
@media (max-width: 880px) {
            .gallery {
                    grid-template-columns: repeat(1, 1fr);
                    width: 80%;
            }
            .gallery img {
                    margin-left: 22%;
                    width: 370px;
            }  
            .popup-image {
                    height: 50%;
            }  
            .heading{
                    padding-left: 40%;
            }
}           
@media (max-width: 590px) {
            .gallery {
                    grid-template-columns: repeat(1, 1fr);
                    width: 80%;
            }
            .gallery img {
                    margin-left: 15%;
                    width: 320px;
            }  
            .popup-image {
                    height: 35%;
            }  
            .heading{
                    padding-left: 32%;
            }
}     
@media (max-width: 415px) {
            .gallery {
                    grid-template-columns: repeat(1, 1fr);
                    width: 80%;
                }
            .gallery img {
                    margin-left: 5%;
                    width: 300px;
            }  
            .popup-image {
                    height: 25%;
            }  
            .heading{
                    padding-left: 27%;
            }
}           
      